<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <link rel = "stylesheet" th:href="@{styles.css}" />

</head>
<body>

<h1>All Events</h1>

<table class="table-center">
    <thead>
        <tr>
            <th class="table-border">Event Name</th>
            <th class="table-border">Event Description</th>
        </tr>
    </thead>
    <tr th:block th:each="event : ${events}">
        <td class="table-border" th:text="${event.getKey()}"></td>
        <td class="table-border" th:text="${event.getValue()}"></td>
    </tr>
</table>

</body>
</html>